@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #5D6180;
  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 80px;
  background-attachment: scroll;
}



svg { vertical-align: baseline; }

footer {
  margin-top: 40px;
  display: flex;
  flex: 1;
  padding: 1rem 0 3rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  color: #D9DBE1;
  font-size: 0.8em;
  background-color: #151827;
}

footer div a {
  color: #eaeaea;
  font-size: 1em;
  line-height: 1.5em;
}

footer a svg {
  vertical-align: middle;
  margin: 2px;
  width:16px;
  height: 16px;
}


header {
  margin-bottom: 10px;
  padding: 1.6rem 0;
}

a {
  text-decoration: none;
}


.middle-center {
  display:flex;
  justify-content:center;
  align-items:center;
}

.fit-right {
  float: right;
}

.text-primary {
  margin-top: 40px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}


@media (max-width: 425px) {
  .wrapper {
    margin-top: 40px;
  }

}


* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: space-between;
}

.block {
  text-align: center;
  border: 1px solid greenyellow;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .main {
    margin-top: 40px;
  }
}

.no-overflow {
  overflow: hidden;
}

.width100 {
  width:100%;
  max-width: 400px;
}

.silver {
  color: silver;
  border: 1px solid silver;
  border-radius: 4px;
}

.pageinfo, .pageinfo a {
  color: #666;
  font-size: 50%;
}

.error {
  color: darkred;
  text-transform: capitalize;
}
.errors {
  padding: 0 1rem;
  // border: 1px solid salmon;
  // border-radius: 5px;
}

.centered {
  margin: auto;
}

.btncenter {
  margin: auto;
  min-width: 150px;
}


.cmenu {
  margin-left: 20px;
  margin-top:  10px;
  padding: 0px;
}

.cmenu a {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #5D6180;
  
}

.reverted {
  background-color: darksalmon;
  color: darkred;
  padding: 12px;
  border-radius: 5px;
}

.successful {
  background-color: darkseagreen;
  color: darkgreen;
  padding: 12px;
  border-radius: 5px;
}

.smaller {
  font-size: 80%;
}

.grey, .grey a {
  color: #666;
}

.white, .white a {
  color: #eaeaea;
}

p, p i, a {
  word-wrap: break-word;
}

#__next {
  background-image: url("/over.svg");
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-attachment: scroll;
}


.qrcode {
  text-align: center;
  padding:0px;
}


.card, .accordion {
  border: 0px;
  // box-shadow: 0px 8px 40px -2px rgba(6, 12, 59, 0.08);
  box-shadow: 0px 0px 8px 4px rgba(126, 126, 126, 0.08);
  border-radius: 12px;
  margin:8px;
}

ol.indexList {
  display: block;
  padding: 20px 0 0 16px;
  list-style: none;
  counter-reset: numList;
}

ol.indexList li {
  margin-left: 36px;
  float: left;
  position: relative;
  font-size: 20px;
}

ol.indexList li p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

ol.indexList li:before {
  counter-increment: numList;
  content: counter(numList);
  
  float: left;
  position: absolute;
  left: -46px;
  top: -4px;
  
  font-size: 22px;
  text-align: center;
  color: #fff;
  line-height: 36px;
  
  width: 36px; height: 36px;
  background: #2C70F4;
  
  -moz-border-radius: 50%;
  border-radius: 50%
}

.tf-nc {
    text-align: center;
    
}

.sText {

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  color: #5D6180;
  text-align: justify;
}


.videoIllustration {
  max-width:568px;
  margin: 0px 0px 0px auto;
  @media (width <= 768px) {
    margin: auto;
  }
}

#index {
  font-family: "Avenir";

  margin-top: 88px;

  h1 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 58px;
    color: #060C3C;
    margin: 12px 0px;
  }
  h2 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 28px;
    /* or 67% */

    text-align: center;

    color: #000000;
    margin: 48px auto;
  }

  @media (width <= 768px) {
    h1 {
      font-size: 26px;
    }
    margin-top: 18px;
  }

  h3 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    margin: 100px auto;
    text-align: center;

    color: #000000;
    max-width: 858px;
    @media (width <= 768px) {
      margin: 32px auto;
      font-style: normal;
      font-size: 15px;
      line-height: 26px;
    }
  }

  h4 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* or 138% */

    text-align: center;
    margin: 32px auto;

    /* Greyscale/Dark Grey */

    color: #060C3C;
    @media (width <= 768px) {
      margin: 32px auto;
      font-style: normal;
      font-size: 15px;
      line-height: 26px;
    }
  }
  h5 {
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    text-align: left;

    color: #000000;
  }

  
  .levels {
    margin-top: 32px; 
    font-size: 80%;
    max-width: 450px;
    text-align: center;
    margin: auto;
  }
  
  .indexText {
    font-size:18px;
    font-weight:400;
    /* padding-right: 16px; */
    line-height: 156%;
    text-align: justify;
  
    /* Greyscale/Grey */
    color: #5D6180;
  
  }
  
}



#inputHolder {
  margin-left: 40px;
  margin-bottom: 26px;
  input {
    border: 0.5px solid #5D6180;
    border-radius: 6px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 4px;

    /* Greyscale/Grey */

    color: #5D6180;
  }
}

.blueBox {
  margin: 80px auto;
  background:#2C70F433;
}

.blueBox div.indexText {
  max-width: 920px;
  margin: auto;
  text-align: center;
}

.blueBox div.indexText p {
  text-align: center;
}

#getstarted, #getstarted3 {
  text-align: center;
}

#getstarted3 {
  margin: 48px 0px 0px  0px;
}

.index3 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  
  /* or 93% */

  text-align: center;

  color: #FFFFFF;
  width: 52px; height: 52px;
  line-height: 50px;
  background: #8BADF9;
  
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 20px auto;
}


@media (max-width: 325px) {
  .qrcode {
    margin:10px -20px; 
  }
  .card {
    margin: 0;
    padding: 0;
  }
  .chartIllustration {
    padding: 0px;
  } 
}

#assuption h4 {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 28px;
  /* or 67% */

  text-align: center;

  color: #000000;
  margin: 120px auto 48px auto;
  @media (width <= 768px) {
    margin: 32px auto;
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
  }
}

#barstext {
  margin-top: 48px;
}

.hash-tag {
  max-width: 171px;
  display: inline-block;
  vertical-align: bottom;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shift {
  font-size: 80%;
  color: #5D6180;
  margin-left: 1em;
}
.cIn {
  padding: 2px;
  background: #D9F5EE;
  border: 1px solid #02977e;
  border-radius: 3px;
  color: #02977e;
  text-transform: uppercase;
  margin: 3px;
  width:36px;
}

.cOut {
  padding: 2px;
  background: #F8EBD4;
  border: 1px solid #B57C00;
  border-radius: 3px;
  color: #B57C00;
  text-transform: uppercase;
  margin: 3px;
  width:36px;
}

div.HeroSection {
  .hero {
    // background-color: #F2F2F2;
    padding: 100px 0;
  }

  .bg-map {
    background-image: url(/assets/map.png);
    background-repeat: no-repeat;
  }
  
  
  .hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 150%;
  }
  
  .hero-text p {
    font-size: 24px;
    margin-bottom: 30px;
    line-height: 150%;
  }
  
  // .btn {
  //   display: inline-block;
  //   background-color: #4CA1AF;
  //   color: #FFFFFF;
  //   font-size: 18px;
  //   font-weight: bold;
  //   text-transform: uppercase;
  //   padding: 20px 40px;
  //   border-radius: 50px;
  //   transition: all 0.2s ease-in-out;
  // }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
}
